/* custom css here */
html,
body {
  height: 100%;
}

.markdown-body figure {
  padding: 0.25rem;
}

.markdown-body figure img {
  /* By default img is an inline element which means there a little white space after it, this get rid of that. */
  display: block; 
}

.markdown-body figcaption {
  text-align: center;
}

.markdown-body figcaption h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}