/* custom css here */
html,
body {
    height: 100%;
}

.Box-body img {
    max-width: 100%;
    height: auto;
}

.markdown-body figure {
    padding: 0.25rem;
}

.markdown-body figure img {
    /* By default img is an inline element which means there a little white space after it, this get rid of that. */
    display: block;
}

.markdown-body figcaption {
    text-align: center;
}

.markdown-body figcaption h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery figure {
    /* This makes sure the captions are center aligned. */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery img.thumbnail {
    margin: 10px;
    max-width: 10vmax;
    max-height: 10vmax;
    border: 1px solid #ccc;
    border-radius: 1vmax;
}

.gallery dialog {
    padding: 1em;
    max-width: 70ch;
    border: 5;
    box-shadow: 0 0 1em rgb(0, 0, 0 / 0.5);
    border-radius: 1vmax;
}

.gallery dialog::backdrop {
    background: rgb(0, 0, 0, 0.7);
}

.gallery dialog figure {
    max-width: 80cqmax;
    max-height: 80cqmax;
}

.gallery dialog figure img {
    max-height: 70cqmax;
}

.gallary-title {
    text-align: center;
}

.gallery .image-group {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.gallery .image-group dialog figure {
    display: none;
}

.gallery .image-group dialog figure.is-current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery dialog .close-button {
    float: right;
}

.Box-body ol {
    padding-left: 2em;
}
